/* App.css */
.assignments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 60%;
    margin: auto;
  }

  .assignment-head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .assignment-card {
    width: 80%;
    padding: 20px;
    margin: 10px;
    background-color: #727070;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .assignment-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .create-assignment-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .create-assignment-btn:hover {
    background-color: #45a049;
  }

  .logout-btn{
    margin-left: auto;
  }

  #persons{

    overflow: scroll;

}


#persons::-webkit-scrollbar {
    display: none;
  }
  
#persons {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}


.person{
    cursor: pointer;
    position: relative;
    background-color: #272727;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    font-weight: 200;
    font-size: 20px;
}

.person:hover{
    background-color: #3B3B3B;
}

.header {
    display: flex;
    justify-content: space-between; /* Keeps items at the ends */
    align-items: center; /* Vertically centers the items */
    padding: 10px 20px; /* Adds padding around the content */
}

.assignment-head {
    flex-grow: 1; /* Allows the title to take the available space */
    text-align: center; /* Centers the title text */
    margin: 0; /* Removes default margin */
}


.logout-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #45a049;
}

.assignment-head {
    margin-bottom: 50px; /* Removes margin to align properly inside flex container */
}

