body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark grey background for the body */
  }

  .upload-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    color: #fff; /* White text color for better readability in dark mode */
  }

  .btn-attach, .btn-hand-in {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white; /* White text for all buttons */
  }

  .btn-attach {
    background-color: #2c2c2c; /* Darker shade for attach button */
    width: fit-content; /* Slightly lighter grey on hover */
  }

  .btn-attach:hover {
    background-color: #3d3d3d;
  }

  .btn-hand-in {
    background-color: #0056b3; /* Blue for the hand in button */
    margin-left: auto; /* Keep Hand In to the right side */
  }

  .btn-hand-in:hover {
    background-color: #004488; /* Darker blue on hover */
  }

  .file-name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #aaa; /* Light grey color for file name to make it stand out less */
  }

  .question {
    color: white;
    background-color: #828282bb;
    padding: 40px ;
    max-width: 70%;
    margin: auto;
    border-radius: 50px;
    /* Slightly muted green for messages */
  }
  .submission{
    display: flex;
  }